body{
    background-color: rgba(2, 1, 7, 0.89);
    font-size: 14px;
    height: 100vh;
    width: 100vw;
}

.collapse-content {
    width: 50vw;
    position: absolute;
    top:30%;
    left: 30%;
}

.collapse{
    background-color: white;
}

.collapse a{
    display: block;
    font-size: 16px;
    padding: 16px 1rem;
    color:white;
    position: relative;
}
.collapse a.instagram{
    background-color: rgb(250, 9, 69);
}
.collapse a.youtube{
   background-color: red;
}
.collapse a.twitter{
    background-color: rgb(16, 70, 233);
}
.collapse a::before{
    content: "+";
    position: absolute;
    top: 20px;
    right:30px;
}
.inner-content{
    padding: 1.8rem; /* (OR) 22px */
}
.content{
    max-height: 0px;
    transition: 0.3s linear 0s;
    overflow: hidden;
}
h2{
    margin-top: 1rem;  
}
.collapse:target .content {
       max-height: 10rem;
}
.collapse:target a::before{
    
    font-size: 1.2rem;
    position: absolute;
    right:30px;
    transform: rotate(50deg);
}